<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Tramitar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón Comprar Ahora en la parte superior -->
  <div class="comprar-container">
    <ion-button expand="block" color="success" (click)="comprarAhora()">
      Comprar Ahora
    </ion-button>
  </div>

  <ion-card class="pedido-detalles">
    <ion-card-header>
      <ion-card-title>Detalles del Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Datos del Comprador -->
      <ion-item>
        <ion-label position="floating">
          <span *ngIf="!usuario.nombre && showErrors" class="error-circle"></span>
          Nombre del Comprador
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre" readonly></ion-input>
      </ion-item>
      <p *ngIf="!usuario.nombre && showErrors" class="error-message">Campo obligatorio</p>
      
      <ion-item>
        <ion-label position="floating">
          <span *ngIf="!usuario.telefono && showErrors" class="error-circle"></span>
          Teléfono
        </ion-label>
        <ion-input type="tel" [(ngModel)]="usuario.telefono" readonly></ion-input>
      </ion-item>
      <p *ngIf="!usuario.telefono && showErrors" class="error-message">Campo obligatorio</p>
      
      <ion-item>
        <ion-label position="floating">
          <span *ngIf="!usuario.email && showErrors" class="error-circle"></span>
          Correo Electrónico
        </ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email" readonly></ion-input>
      </ion-item>
      <p *ngIf="!usuario.email && showErrors" class="error-message">Campo obligatorio</p>
      
      <!-- Dirección de Envío -->
      <ion-item>
        <ion-label position="stacked">
          <span *ngIf="!direccionValida() && showErrors" class="error-circle"></span>
          Dirección de Envío
        </ion-label>
        <ion-select [(ngModel)]="shippingOption" placeholder="Selecciona una opción" interface="popover">
          <ion-select-option value="userAddress">{{ usuario.direccion }}</ion-select-option>
          <ion-select-option value="newAddress">Nueva Dirección</ion-select-option>
          <ion-select-option value="storePickup">Recoger en Tienda</ion-select-option>
        </ion-select>
      </ion-item>
      <p *ngIf="!direccionValida() && showErrors" class="error-message">Selecciona una dirección de envío</p>
      
      <ion-item *ngIf="shippingOption === 'newAddress'">
        <ion-label position="stacked">Nueva Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="nuevaDireccion"></ion-input>
      </ion-item>
      
      <!-- Método de Pago -->
      <ion-item>
        <ion-label position="stacked">
          <span *ngIf="!metodoPago && showErrors" class="error-circle"></span>
          Método de Pago
        </ion-label>
        <ion-select [(ngModel)]="metodoPago" placeholder="Selecciona un método" interface="popover">
          <ion-select-option value="creditCard">Tarjeta de Crédito</ion-select-option>
          <ion-select-option value="paypal">PayPal</ion-select-option>
          <ion-select-option value="bankTransfer">Transferencia Bancaria</ion-select-option>
        </ion-select>
      </ion-item>
      <p *ngIf="!metodoPago && showErrors" class="error-message">Selecciona un método de pago</p>
      
    </ion-card-content>
  </ion-card>

  <!-- Resumen del Pedido -->
  <ion-card class="pedido-resumen">
    <ion-card-header>
      <ion-card-title>Resumen del Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Precio sin IVA</ion-label>
        <ion-text>{{ totalSinIVA | currency }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Precio Envío</ion-label>
        <ion-text>{{ shippingOption === 'storePickup' ? 0 : shippingCost | currency }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Precio Total</ion-label>
        <ion-text>{{ totalConEnvio | currency }}</ion-text>
      </ion-item>
      <ion-item *ngIf="shippingOption !== 'storePickup'">
        <ion-label>Llegará el día</ion-label>
        <ion-text>{{ estimatedArrival }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let item of cartItems"  (click)="abrirProducto(item)">
      <!-- Nombre del producto a la izquierda -->
      <ion-label style="cursor: pointer;">
        <h1>{{ item.name }}</h1>
      </ion-label>
  
      <!-- Precio y cantidad a la derecha -->
      <ion-label slot="end" class="ion-text-end">
        <h3>{{ item.price | currency }}</h3>
        <h3>{{item.cantidad}} ud.</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón Comprar Ahora en la parte inferior -->
  <div class="comprar-container">
    <ion-button expand="block" color="success" (click)="comprarAhora()">
      Comprar Ahora
    </ion-button>
  </div>
</ion-content>
