ion-list {
    ion-item {
      width: 100%;
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
  
      ion-card {
        width: 100%;
        margin: 0;
      }
  
      ion-card-header {
        padding: 16px;
      }
  
      ion-card-content {
        padding: 16px;
      }
    }
  }
  

  .progress-steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alineación superior */
    margin: 16px 0;
    
    div {
      text-align: center;
      flex: 1;
      position: relative; /* Necesario para ::after */
  
      .step-circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ccc;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
  
      .step-label {
        margin-top: 8px;
        font-size: 12px;
        color: #666;
        height: 32px; /* Ajusta la altura según necesites para 2 líneas de texto */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  
      &.active .step-circle {
        background-color: #3880ff; /* Primary color */
      }
  
      &.active .step-label {
        font-weight: bold;
        color: #000;
      }
    }
  
    div:not(:last-child)::after {
      content: '';
      position: absolute;
      width: calc(100% + 16px); /* Añadir longitud al conector */
      height: 2px;
      background-color: #ccc;
      top: 12px; /* Centra la línea con respecto a los círculos */
      left: -8px; /* Compensa el ancho para centrarse bien */
      z-index: -1;
    }
  
    div.active:not(:last-child)::after {
      background-color: #3880ff; /* Active progress line */
    }
  }
  