
<ion-content class="ion-padding"  fullscreen="false">
  <ion-header>
  <ion-toolbar>
    <ion-title>Galería</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterOptions()">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón de Filtro -->
  <div class="filter-info">
    <p>{{ currentFilter }}</p>
  </div>

  <!-- Galería de Imágenes -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of filteredImages">
        <ion-card (click)="openImageModal(image)">
          <ion-img [src]="image.url"></ion-img>
          <ion-card-content>
            <p class="image-title">{{ image.title }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()" cssClass="image-modal" animated="false">
    <ng-template>
      <div class="lightbox-container" (click)="closeImageModal2($event)">
        <!-- Imagen principal -->
        <ion-img 
        [src]="selectedImage.url" 
        class="lightbox-image" 
        [ngStyle]="{'transform': 'translateX(' + translateX + 'px)'}"
        (touchstart)="startSwipe($event)" 
        (touchmove)="moveSwipe($event)" 
        (touchend)="endSwipe()">
      </ion-img>
        
        <!-- Controles de navegación e interacción -->
        <div class="controls">
          <ion-button (click)="prevImage()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="likeImage()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="shareImage()">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="nextImage()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
</ion-content>


