<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/icon/LogoJuegalmi.png" alt="Juegalmi" class="h-8 w-8"/>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      <span class="app-title">Juegalmi</span>
    </ion-title>

    <ion-buttons slot="end">
      <!-- Icono de campanita de notificaciones -->
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

      <!-- Icono de carrito de compras -->
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>

      <!-- Icono de logueo o perfil circular -->
      <ion-button>
        <ion-avatar>
          <img src="../../assets/sample-image.jpg"/>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabButtons" [tab]="tab.path">
      <ion-icon aria-hidden="true" [name]="tab.icon"></ion-icon>
      <ion-label>{{ tab.title }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
