.section {
  margin-bottom: 2rem;
}

img {
  border-radius: 0.5rem;
  object-fit: cover;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

button:hover {
  color: #f9a825;
}

.app-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ion-avatar img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-top: 0px;
}

:root {
  --ion-color-menu: #9fffff;
  --ion-color-menu-rgb: 159, 255, 255;
  --ion-color-menu-contrast: #000000;
  --ion-color-menu-contrast-rgb: 0, 0, 0;
  --ion-color-menu-shade: #8ce0e0;
  --ion-color-menu-tint: #a9ffff;
}

.ion-color-menu {
  --ion-color-base: var(--ion-color-menu);
  --ion-color-base-rgb: var(--ion-color-menu-rgb);
  --ion-color-contrast: var(--ion-color-menu-contrast);
  --ion-color-contrast-rgb: var(--ion-color-menu-contrast-rgb);
  --ion-color-shade: var(--ion-color-menu-shade);
  --ion-color-tint: var(--ion-color-menu-tint);
}

ion-toolbar {
  height: 52px;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 5px;
}

ion-title {
  font-size: 1rem;
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

//Ponemos el padding end del penultimo ion-button a 10px
ion-button:nth-last-child(2) {
  --padding-end: 10px;
}

ion-avatar {
  width: 32px;
  height: 32px;
}

.app-title {
  font-family: 'Roboto Slab', serif;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ion-popover {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.p-2 {
  padding: 0.5rem;
}

.border-b {
  border-bottom-width: 1px;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

.notificationPop {
  --min-width: 200px;
  --max-height: 200px;
}

.notificationPop ion-content {
  height: 100%;
  max-height: 200px;
  /* Limitar el alto del contenido */
  overflow-y: auto;
  /* Asegurar que se puede hacer scroll */
}

.textoNoti {
  font-size: 0.8rem;
  color: #333;
  margin: 5px;
}

.noti-length {
  color: white;
  position: absolute;
  top: 0px;
  left: 16px;
  font-weight: 600;
  font-size: 12px;
  min-width: 14px;
  z-index: 10;
  background-color: red;
  border-radius: 50%;
}

.cart-length {
  color: white;
  position: absolute;
  top: 0px;
  left: 16px;
  font-weight: 600;
  font-size: 12px;
  min-width: 14px;
  z-index: 10;
  background-color: orange;
  border-radius: 50%;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.cart-modal {
  --border-radius: 0;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.cart-modal.hidden {
  animation: slideOutToRight 0.3s ease-out forwards;
}

.cart-modal {
  --width: 100%;
  --min-height: 100%;
  --max-height: 100%;
}

.cart-modal .modal-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}


.cart-modal ion-header {
  --border-width: 0;
  --ion-toolbar-shadow: none;
  box-shadow: none;
}


.cart-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  padding-top: 0;
  margin-top: 5px;
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 0.5px solid #e0e0e0;
}


.item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-details {
  flex: 1;
}


.item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-quantity {
  color: #8B4513;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.action-buttons ion-button {
  --border-radius: 12px;
  --padding-start: 8px;
  --padding-end: 8px;
  width: 40px;
  height: 24px;
  min-height: 24px;
  line-height: 24px;
  --internal-height: 24px;
}

.action-buttons ion-button ion-icon {
  font-size: 16px;
}

.cart-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
  background-color: white; /* Asegura que el fondo sea blanco */
  text-align: center;
  z-index: 10; /* Asegura que esté encima del contenido */
}

ion-content {
  padding-bottom: 70px; /* Espacio adicional para evitar que el contenido quede cubierto por el sumario */
}


.delivery-info {
  font-size: 0.9rem;
  font-weight: 200;
  color: #000000;
  padding: 10px 5px;
}

.delivery-info::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 5px;
}

.delivery-info .address {
  color: green;
}

.price {
  color: red;
  font-weight: bold;
}


.unit {
  font-size: 0.8rem;
  color: #666;
  font-weight: normal;
  margin-left: 4px;
}

/* Estilo del contenedor de la fila de total */
.summary-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Estilo para "Total aproximado" */
.total-label {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

/* Estilo para el monto total */
.total-amount {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

/* Estilo para el icono de información */
.info-icon {
  font-size: 1rem;
  color: #999; /* Color gris para el icono */
  margin-left: 5px;
  cursor: pointer;
}

.login-modal {
  --border-radius: 15px;
  --max-width: 90%;
  --max-height: 60%;
  --margin: auto;
}

.login-modal .modal-wrapper {
  border-radius: 15px;
  max-width: 400px;
  max-height: 90%;
  margin: auto;
}

.login-modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  --overflow: hidden;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.login-actions ion-button {
  margin-top: 10px;
}

.register-section p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}

.logged-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  --margin-top: 0px;
  --padding-top: 0px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.close-button {
  flex: 0 0 auto;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
  padding: 0;
}

ion-toggle {

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --handle-background: #eb7769;
  --handle-background-checked: #95c34e;

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 10px;
  width: 65px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

.profile-picture {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  border: 2px solid #ccc;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details {
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.theme-toggle ion-button {
  font-size: 1.5rem;
  color: gray;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  color: gray;
  padding: 2px;
}

/* Detalles del usuario */
.user-details h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.user-details p {
  color: gray;
  font-size: 0.9rem;
  margin: 0;
}

/* Opciones de menú */
.menu-options {
  width: 100%;
  padding-top: 10px;
}

.menu-options ion-item {
  --padding-start: 15px;
  --inner-padding-end: 15px;
  font-size: 1rem;
}

.modal-header-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close-button {
  flex: 0 0 auto;
}

.company-logo {
  flex: 1;
  height: 30px;
  display: flex;
  justify-content: center;

}

.empty-button {
  flex: 0 0 auto;
  visibility: hidden;
}

.menu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 70%;
}

.logout-button {
  padding: 10px 0;
}

ion-item {
  --background: transparent; 
  --color: var(--ion-text-color); 
}

body.dark .logout-button ion-item {
  --background: transparent;
  --color: var(--ion-text-color);
}

.register-modal {
  --border-radius: 15px;
  --max-width: 90%;
  --max-height: 70%;
  --margin: auto;
}

.register-modal .modal-wrapper {
  border-radius: 15px;
  max-width: 400px;
  max-height: 90%;
  margin: auto;
}

.register-modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden
}


.wishlist-modal {
  position: fixed;
  top: 12%;
  left: 20%;
  height: 82%;
  width: 40%;
  max-width: 400px;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.wishlist-modal.open {
  transform: translateX(0);
}
.deseado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deseado-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

ion-img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

.heart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 8px;
}



.deseado{
  border-bottom: 1px solid #ccc;
}

.custom-loading {
  --background: rgba(0, 0, 0, 0.8); // Fondo oscuro semitransparente
  --spinner-color: #ffffff; // Color del spinner
  color: white; // Color del texto
  font-size: 1.2rem; // Tamaño del texto
}

.custom-loading .spinner-crescent {
  width: 50px;
  height: 50px;
}






