<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <img src="../../assets/icon/LogoJuegalmi.png" alt="Juegalmi" class="h-8 w-8"/>
      </ion-button>
      <span class="app-title">Juegalmi</span>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button id="notifications-button" [style.display]="isLoggedIn ? 'block' : 'none'">
        <div class="noti-length">{{ notifications.length }}</div>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="isLoggedIn" (click)="openCart()">
        <ion-icon class="cart" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="openLoginModal()">
        <ion-avatar>
          <img src="../../assets/sample-image.jpg"/>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <!-- Popover de las notificaciones -->
<ion-popover class="notificationPop" trigger="notifications-button" side="bottom" alignment="center">
  <ion-content class="ion-padding" >
    <div *ngIf="notifications && notifications.length > 0">
      <div *ngFor="let notification of notifications" class="flex items-center justify-between border-b border-gray-200 textoNoti">
        <span>{{ notification.text }}</span>
        <ion-icon [name]="notification.icon"></ion-icon>
      </div>
    </div>
    <div *ngIf="!notifications || notifications.length === 0">
      <p>No notifications available.</p>
    </div>
  </ion-content>
</ion-popover>

    <!-- Modal del carrito -->
    <ion-modal [isOpen]="isCartOpen" cssClass="cart-modal" (didDismiss)="closeCart()" animated="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="closeCart()" color="menu">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button color="danger" (click)="clearCart()">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>              
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
    
        <ion-content class="ion-padding">
          <h1 class="cart-title">Carro</h1>
          <div class="delivery-info">
            <p>Entregar en <span class="address">48960</span></p>
          </div>
          <div *ngIf="cartItems && cartItems.length > 0">
            <div *ngFor="let item of cartItems" class="cart-item">
              <img [src]="item.picture" alt="{{ item.name }}" class="item-img">
              <div class="item-details">
                <h3>{{ item.name }}</h3>
                <p>
                  <span class="price">{{ item.price | number:'1.2-2' }} €</span>
                  <span class="unit">/ud.</span>
                </p>
              </div>
              <div class="item-actions">
                <span class="item-quantity">{{ item.cantidad }} ud.</span>
                <div class="action-buttons">
                  <ion-button 
                    [fill]="item.cantidad > 1 ? 'solid' : 'outline'" 
                    [color]="item.cantidad > 1 ? 'warning' : 'warning'" 
                    (click)="item.cantidad > 1 ? decreaseQuantity(item) : removeItem(item)">
                    <ion-icon 
                      [name]="item.cantidad > 1 ? 'remove-outline' : 'trash-outline'" 
                      [style.color]="item.cantidad > 1 ? 'brown' : '#8B4513'">
                    </ion-icon>
                  </ion-button>

                  <ion-button fill="solid" color="warning" (click)="increaseQuantity(item)">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
              
            </div>
          </div>
    
          <div class="cart-summary">
            <div class="summary-row">
              <span class="total-label">Total aproximado<ion-icon name="information-circle-outline" (click)="showInfo()" class="info-icon"></ion-icon></span>
              
              <span class="total-amount">{{ total | currency:'EUR':'symbol':'1.2-2' }}</span>
            </div>
            <ion-button expand="block" color="success" (click)="navigateToTramitar()">Tramitar pedido</ion-button>
          </div>          
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Modal de Usuario -->
    <ion-modal [isOpen]="isLoginModalOpen" (didDismiss)="closeLoginModal()" class="login-modal">
      <ng-template>
        <ion-content class="ion-padding login-modal-content">
          <!-- Verifica si el usuario está logueado o no -->
          <div *ngIf="!isLoggedIn; else loggedInContent">
            <div class="modal-header">
              <img src="../../assets/icon/LogoJuegalmi.png" alt="Juegalmi Logo" class="logo" />
              <h2>Iniciar Sesión</h2>
            </div>
    
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
    
            <div class="login-actions">
              <ion-button expand="full" color="primary" (click)="login()">Iniciar Sesión</ion-button>
              <ion-button fill="clear" color="medium" (click)="recuperarContrasena()">¿No recuerdo mi contraseña?</ion-button>
            </div>
    
            <div class="register-section">
              <p>¿Nuevo en Juegalmi?</p>
              <ion-button expand="full" color="secondary" (click)="openRegisterModal()">Crear una cuenta</ion-button>
              <ion-button expand="full" color="tertiary" (click)="loginWithGoogle()">Iniciar sesión con Google</ion-button>
            </div>
          </div>

          <ng-template #loggedInContent>
            <ion-content class="ion-padding logged-in-content" scrollY="false" >
              
              <div class="modal-header-user">
                <ion-button slot="start" fill="clear" (click)="closeLoginModal()" class="close-button">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              
                <div class="company-logo-container">
                  <img src="../../assets/icon/textoJuegalmi.png" alt="Nombre Empresa" class="company-logo" />
                </div>
              
                <ion-button fill="clear" style="visibility: hidden;">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </div>
              
              
          
              <!-- Información del usuario -->
              <div class="user-info">
                <div class="profile-picture">
                  <img [src]="userPicture || '../../assets/icon/default-avatar.png'" alt="User Avatar" />
                  <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
                </div>
                
                <div class="user-details">
                  <h2>{{ userName }}</h2>
                  <p>{{ userEmail }}</p>
                </div>
              
                <div class="theme-toggle">
                    <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleChange($event)" labelPlacement="stacked">Dark Mode</ion-toggle
                    >
                </div>
              </div>
              
          
              <div class="menu-options">
                <div>
                  <ion-item button (click)="navigateToCuenta()">
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-label>Gestionar Cuenta</ion-label>
                  </ion-item>                  
                <ion-item button>
                  <ion-icon name="heart-outline" slot="start"></ion-icon>
                  <ion-label>Lista de Deseos</ion-label>
                </ion-item>
                <ion-item button (click)="navigateToPedidos()">
                  <ion-icon name="cart-outline" slot="start"></ion-icon>
                  <ion-label>Mis Pedidos</ion-label>
                </ion-item>
                <ion-item button>
                  <ion-icon name="notifications-outline" slot="start"></ion-icon>
                  <ion-label>Configurar Notificaciones</ion-label>
                </ion-item>
                <ion-item button>
                  <ion-icon name="trash-outline" slot="start"></ion-icon>
                  <ion-label>Quiero darme de baja</ion-label>
                </ion-item>
              </div>

                              <!-- Botón de Cerrar Sesión al final -->
                <div class="logout-button">
                  <ion-item button (click)="logout()">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    <ion-label>Cerrar Sesión</ion-label>
                  </ion-item>
                </div>
              </div>
          

            
            </ion-content>
          </ng-template>
          
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isRegisterModalOpen" (didDismiss)="closeRegisterModal()" class="register-modal">
      <ng-template>
        <ion-content class="ion-padding register-modal-content">
          <div class="modal-header">
            <img src="../../assets/icon/LogoJuegalmi.png" alt="Juegalmi Logo" class="logo" />
            <h2>Crear Cuenta</h2>
          </div>
    
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Repetir Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="repassword" required></ion-input>
          </ion-item>
    
          <div class="register-actions">
            <ion-button expand="full" color="secondary" (click)="registrar()">Registrar</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    
    
    
    <!-- Rutas de las tabs -->
<ion-router-outlet></ion-router-outlet>

    <!-- Botones de las tabs -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabButtons" [tab]="tab.path">
      <ion-icon aria-hidden="true" [name]="tab.icon"></ion-icon>
      <ion-label>{{ tab.title }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
