// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-menu: #9fffff;
    --ion-color-menu-rgb: 159,255,255;
    --ion-color-menu-contrast: #000000;
    --ion-color-menu-contrast-rgb: 0,0,0;
    --ion-color-menu-shade: #8ce0e0;
    --ion-color-menu-tint: #a9ffff;
  }
  
