<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="volver()"></ion-back-button>
    </ion-buttons>
    <ion-title #gameTitle class="game-title">
      <div *ngIf="productoService.productoActual.name.length < 15">{{ productoService.productoActual.name }}</div>
      <div *ngIf="productoService.productoActual.name.length >= 15" class="scrolling-text">{{ productoService.productoActual.name }}</div>
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-container">
    <!-- Imagen del producto -->
    <div class="product-image">
      <img (error)="handleImageError($event)" [src]="baseUrl + productoService.productoActual.picture" alt="{{ productoService.productoActual.name }}" />
    </div>

    <!-- Descripción y detalles -->
    <div class="product-details">
      <p class="product-description">{{ productoService.productoActual.description }}</p>

      <!-- Secciones de información y compra -->
      <div class="info-purchase-container">
        <div class="game-info">
          <!-- Información específica de Videojuego -->
          <ng-container *ngIf="productoService.productoActual.productType === 'videogame'">
            <p><strong>Plataforma:</strong> Nintendo</p>
            <p><strong>Géneros:</strong></p>
            <ng-container *ngFor="let genre of productoService.productoActual.genres">
              <p>{{ genre }}</p>
            </ng-container>
            <p><strong>PEGI:</strong></p>
            <a href="https://pegi.info/" target="_blank">
              <img (error)="handleImageError($event)" [src]="'../../assets/pegi/' + productoService.productoActual.pegi + '.png'" alt="PEGI {{ productoService.productoActual.pegi }}" />
            </a>
            <p><strong>Fecha lanzamiento:</strong></p>
            <p>{{ productoService.productoActual.release_date | date }}</p>
          </ng-container>

          <!-- Información específica de Consola -->
          <ng-container *ngIf="productoService.productoActual.productType === 'console'">
            <p><strong>Modelo:</strong> {{ productoService.productoActual.model }}</p>
            <p><strong>Marca:</strong> {{ productoService.productoActual.brand }}</p>
            <p><strong>Generación:</strong> {{ productoService.productoActual.generation }}</p>
            <p><strong>Disco:</strong> {{ productoService.productoActual.disk }} GB</p>
            <p><strong>Cantidad:</strong> {{ productoService.productoActual.stock }}</p>
          </ng-container>

          <!-- Información específica de Dispositivo -->
          <ng-container *ngIf="productoService.productoActual.productType === 'device'">
            <p><strong>Tipo:</strong> {{ productoService.productoActual.type }}</p>
            <p><strong>Modelo:</strong> {{ productoService.productoActual.model }}</p>
            <p><strong>Marca:</strong> {{ productoService.productoActual.brand }}</p>
            <p><strong>Procesador:</strong> {{ productoService.productoActual.processor }}</p>
            <p><strong>Memoria:</strong> {{ productoService.productoActual.memory }} GB</p>
            <p><strong>Pantalla:</strong> {{ productoService.productoActual.screen }}</p>
            <p><strong>Cámara:</strong> {{ productoService.productoActual.camera }}</p>
            <p><strong>Batería:</strong> {{ productoService.productoActual.battery }} mAh</p>
            <p><strong>Disco:</strong> {{ productoService.productoActual.disk }} GB</p>
          </ng-container>
        </div>

        <div class="purchase-options">
          <!-- Primera línea: Buy Section -->
          <div class="buy-section">
            <div class="price-container">
              <div class="price-label">
                <span [ngStyle]="{ color: productoService.productoActual.stock > 0 ? '#008000' : '#b22222' }">
                  {{ productoService.productoActual.stock > 0 ? 'Comprar' : 'Agotado' }}
                </span>
              </div>
              <div class="price" *ngIf="productoService.productoActual.stock > 0">
                <span class="whole">{{ wholePrice }}</span>
                <span class="fraction">{{ fractionPrice }}€</span>
              </div>
            </div>
            <ion-button 
              color="success" 
              (click)="anadirAlCarrito()" 
              [disabled]="productoService.productoActual.stock <= 0">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
          </div>

          <!-- Segunda línea: Try Section -->
          <div class="try-section">
            <div class="price-container">
              <div class="try-label">
                <span *ngIf="productoService.productoActual.productType === 'videogame'">Pruebalo</span>
                <span *ngIf="productoService.productoActual.productType !== 'videogame'">Reparar</span>
              </div>
              <div *ngIf="productoService.productoActual.productType === 'videogame'" class="tryPrice">
                <span class="tryWhole">5</span>
                <span class="tryFraction">€/semana</span>
              </div>
            </div>
            <ion-button color="tertiary" (click)="productoService.productoActual.productType === 'videogame' ? alquilar() : reparar()">
              <ion-icon [name]="productoService.productoActual.productType === 'videogame' ? 'time-outline' : 'build-outline'"></ion-icon>
            </ion-button>
          </div>

          <!-- Tercera línea: Notify Section -->
          <div class="notify-section">
            <ion-button color="danger" (click)="addWish()">
              <ion-icon name="heart"></ion-icon>
            </ion-button>            
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
