<ion-header>
  <ion-toolbar>
    <ion-segment scrollable value="videojuegos">
      <ion-segment-button value="videojuegos" (click)="cargarPagina('videojuegos')">Videojuegos</ion-segment-button>
      <ion-segment-button value="consolas" (click)="cargarPagina('consolas')">Consolas</ion-segment-button>
      <ion-segment-button value="devices" (click)="cargarPagina('devices')">Devices</ion-segment-button>
      <ion-segment-button value="reparaciones" (click)="cargarPagina('reparaciones')">Reparaciones</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página, incluyendo carruseles de recomendados y géneros -->
  <div class="recomendados-section">
    <swiper-container loop="true"  slides-per-view="1" class="recomendados-carousel">
      <swiper-slide *ngFor="let recomendado of recomendados">
        <ion-card>
          <img [src]="recomendado.picture" alt="Recomendado" />
          <ion-card-content>
            <h2>{{ recomendado.name }}</h2>
            <p>{{ recomendado.description }}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <div *ngFor="let genero of generos" class="genero-section">
    <h2 class="genero-titulo">{{ genero.nombre }}</h2>
    <swiper-container loop="true"  slides-per-view="3"  class="genero-carousel">
      <swiper-slide *ngFor="let item of genero.items">
        <ion-card class="genero-card">
          <img [src]="item.picture" alt="Item" />
          <ion-card-content>
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p class="pegi-videojuego">PEGI: {{ item.pegi }}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>

<!-- Alternativa de carga para cuando no hay datos aún -->
<ion-content *ngIf="generos.length === 0 || recomendados.length === 0">
  <ion-spinner name="crescent"></ion-spinner>
  <p>Cargando datos...</p>
</ion-content>
