<ion-header>
  <ion-toolbar>
    <ion-segment scrollable (ionChange)="cambiarPagina(convertirACadena($event.detail.value || ''))">
      <ion-segment-button value="videojuegos" [checked]="rutaActual === 'videojuegos'">Videojuegos</ion-segment-button>
      <ion-segment-button value="consolas" [checked]="rutaActual === 'consolas'">Consolas</ion-segment-button>
      <ion-segment-button value="devices" [checked]="rutaActual === 'devices'">Devices</ion-segment-button>
      <ion-segment-button value="reparaciones" [checked]="rutaActual === 'reparaciones'">Reparaciones</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor de rutas secundarias -->
  <router-outlet></router-outlet>
</ion-content>
